<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Admit", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= if @current_user  do %>
      <header class="z-10 my-0">
        <section class="shadow-lg my-0 mx-auto max-h-12 block bg-gray-400/75 text-center pb-0.5">
          <a href="#" class="font-mono">Admit</a>
          <%= render "_user_menu.html", assigns %>
        </section>
        <section class="bg-gray-300 text-center py-0.5 shadow-2xl">
          <nav class="border-solid">
            <ul class="inline-flex px-4 rounded-2xl">
              <AdmitWeb.CustomComponents.nav_links href="/adverts"><i class="fa fa-fw fa-home"></i></AdmitWeb.CustomComponents.nav_links>
              <AdmitWeb.CustomComponents.nav_links href="/schools">Schools</AdmitWeb.CustomComponents.nav_links>
              <AdmitWeb.CustomComponents.nav_links href="/applications">Applications</AdmitWeb.CustomComponents.nav_links>
              <AdmitWeb.CustomComponents.nav_links href="/students">Student</AdmitWeb.CustomComponents.nav_links>
              <AdmitWeb.CustomComponents.nav_links href="/users/settings">Account</AdmitWeb.CustomComponents.nav_links>
              <AdmitWeb.CustomComponents.nav_links href="/icon_link"><i class="fa fa-fw fa-search"></i></AdmitWeb.CustomComponents.nav_links>
            </ul>
          </nav>
        </section>
      </header>
    <% end %>
    <%= @inner_content %>
    <footer class="fixed bottom-0 w-full bg-gray-300 py-1 text-center">
      <p>Copyright © 2023 Admit.</p>
    </footer>
  </body>
</html>