<h1>New School admin</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.school_admin_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.school_admin_path(@conn, :index) %></span>
