<h1>Show School admin</h1>

<ul>

  <li>
    <strong>Role:</strong>
    <%= @school_admin.role %>
  </li>

  <li>
    <strong>Level:</strong>
    <%= @school_admin.level %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.school_admin_path(@conn, :edit, @school_admin) %></span> |
<span><%= link "Back", to: Routes.school_admin_path(@conn, :index) %></span>
